<div class="container">
  <div class="page-header">
    <h1>Download Heimdall</h1>
  </div>
	<div class="row">
    <h2>Browser Extension</h2>
    <div class="row">
      <div class="col-md-6">
        <p><a href="https://addons.mozilla.org/en-GB/firefox/addon/heimdall/">Download from Mozilla Firefox Add-on store.</a></p>
      </div>
      <div class="col-md-6">
        <p><a href="https://chrome.google.com/webstore/detail/heimdall/loiabdhahjaijmijllhiidceilfecggg">Download from Google Chrome Web Store</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Tray Applet</h2>
    <div class="col-md-4">
      <h3>Microsoft Windows</h3>
      <p><a href="#windows">.ZIP</a><p>
    </div>
    <div class="col-md-4">
      <h3>Apple MacOS</h3>
      <p><a href="#macos">.DMG</a></p>
    </div>
    <div class="col-md-4">
      <h3>Linux</h3>
      <p><a href="#deb">DEB</a> | <a href="#rpm">RPM</a> | <a href="#appimage">AppImage</a></p>
    </div>
  </div>
  <div class="row">
    <h2>Command Line Interface</h2>
    <div class="col-md-4">
      <h3>Microsoft Windows</h3>
      <p><a href="#windows">.EXE</a><p>
    </div>
    <div class="col-md-4">
      <h3>Apple MacOS</h3>
      <p><a href="#macos">Binary</a></p>
    </div>
    <div class="col-md-4">
      <h3>Linux</h3>
      <p><a href="#linux">Binary</a></p>
    </div>
  </div>
  <div class="row">
    <h2>Source Code</h2>
    <div class="col-md-6">
      <h3>GOGS</h3>
      <p><a href="https://box.rhowell.io/gogs/ryan/heimdall">View Source Code</a><p>
    </div>
    <div class="col-md-6">
      <h3>GitHub</h3>
      <p><a href="https://github.com/TheRyanHowell/heimdall">View Source Code</a></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; 2018 Ryan Howell.</p>
  </footer>
</div>
