<div class="jumbotron">
  <div class="container">
    <h1>Heimdall</h1>
    <p class="lead">A software system to improve analysis and communication of website domain security.</p>
		<p>Heimdall shows the feasibility of improving existing browser security indicators, by expanding the factors used for security analysis. The outcome of this analysis is communicated through a browser extension icon, using a simple colour coded A - F scoring system.</p>
    <p><a class="btn btn-default btn-lg" href="/download" role="button">Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>&nbsp;<a class="btn btn-default btn-lg" href="/about" role="button">About <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Browser Extension</h2>
      <p>Shows a quick score by changing the icon of the extension button on the browser toolbar, this allows users to browse the web and simply glance at the icon to quickly determine the security of the domain.</p>
			<p><img class="img-responsive center-block img-thumbnail" src="/assets/images/extension.png" width="82" height="76" alt="Heimdall browser extension toolbar icon."/></p>
    </div>
    <div class="col-md-4">
      <h2>Tray Applet</h2>
      <p>Exposes the heimdall library via a web-socket API for use by the web browser extension, which allows improved functionality and performance.</p>
			<p><img class="img-responsive center-block img-thumbnail" src="/assets/images/tray.png" width="290" height="29" alt="Heimdall tray applet."/></p>
   </div>
    <div class="col-md-4">
      <h2>Command Line Interface</h2>
      <p>Allows easy automation of domain security analysis without using the library directly.</p>
			<p><img class="img-responsive center-block img-thumbnail" src="/assets/images/cli.png" width="790" height="320" alt="Heimdall command line interface."/></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; 2018 Ryan Howell.</p>
  </footer>
</div>
